/* consts */
/* colors */
/* fonts */
@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans/open-sans-v16-latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/open-sans/open-sans-v16-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-regular.woff') format('woff'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-regular.ttf') format('truetype'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans/open-sans-v16-latin_cyrillic-600.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/open-sans/open-sans-v16-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-600.woff') format('woff'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-600.ttf') format('truetype'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-600.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'open-sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans/open-sans-v16-latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/open-sans/open-sans-v16-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-700.woff') format('woff'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-700.ttf') format('truetype'), url('../fonts/open-sans/open-sans-v16-latin_cyrillic-700.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat/montserrat-v13-latin_cyrillic-500.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/montserrat/montserrat-v13-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-v13-latin_cyrillic-500.woff') format('woff'), url('../fonts/montserrat/montserrat-v13-latin_cyrillic-500.ttf') format('truetype'), url('../fonts/montserrat/montserrat-v13-latin_cyrillic-500.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

/* page */
body,
.page {
  font-family: 'open-sans', sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

body.fixed,
.page.fixed,
html.fixed {
  position: relative;
  overflow: hidden;
  height: 100%;
  -ms-touch-action: none;
      touch-action: none;
}

/* rating */
.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.rating--read-only .rating__item {
  pointer-events: none;
}
.rating__item {
  cursor: pointer;
}
.rating__item:hover .rating__icon,
.rating__item--active .rating__icon {
  fill: #014c9e;
}
.rating__input {
  display: none;
}
.rating__icon {
  width: 22px;
  height: 22px;
  fill: #ededed;
  -webkit-transition: 0.25s;
       -o-transition: 0.25s;
          transition: 0.25s;
}

/* header */
.header {
  background: url(../imgs/header/header__bg.jpg) center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 840px;
}
.header .wrapper {
  padding-right: 0;
}
.header__inner {
  width: 1106px;
  margin-left: auto;
}
.header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
          align-items: flex-end;
  margin: 9px 0 0 0;
}
.header__logo {
  margin: 0 0 0 -23px;
  position: relative;
  bottom: -14px;
}
.header__icon {
  fill: #fff;
}
.header__icon--logo {
  width: 149.53px;
  height: 149.53px;
}
.header__icon--loupe {
  width: 20px;
  height: 20px;
}
.header__icon--menu {
  width: 22px;
  height: 22px;
  margin: 0 0 11px 55px;
}
.header__icon--avatar {
  width: 40px;
  height: 40px;
  margin: 0 0 1px 0;
  /*  flex-shrink: 0; */
}
.header__city {
  color: #fff;
  line-height: 23px;
}
.header__city-link {
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  color: #fff;
  text-transform: uppercase;
}
.header__search {
  margin: 0 0 0 63px;
}
.header__search {
  position: relative;
}
.header__search-input {
  width: 400px;
  height: 42px;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 21px;
          border-radius: 21px;
  color: #fff;
  background-color: transparent;
  line-height: 19px;
  padding: 0 40px 0 20px;
}
.header__search-input::-webkit-input-placeholder {
  color: #fff;
}
.header__search-input:-ms-input-placeholder {
  color: #fff;
}
.header__search-input::-ms-input-placeholder {
  color: #fff;
}
.header__search-input::placeholder {
  color: #fff;
}
.header__search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -webkit-calc(50% + 1px);
  top:         calc(50% + 1px);
  right: 5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__account {
  text-decoration: none;
  margin: 0 0 0 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
}
.header__account-text {
  color: #fff;
  margin: 0 0 0 17px;
}
.header__lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  margin: 0 0 13px 49px;
}
.header__lang-flag {
  width: 18px;
  height: 14px;
}
.header__lang-text {
  color: #fff;
  margin: 0 0 0 12px;
}

/* wrapper */
.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1490px;
  padding: 0 30px;
  margin: 0 auto;
}
