/* consts */
/* colors */
/* fonts */
@font-face {
  font-family: 'helvetica-light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/helvetica/HelveticaNeueCyr-Light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/helvetica/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/helvetica/HelveticaNeueCyr-Light.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'helvetica-light-ital';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/helvetica/HelveticaNeueCyr-LightItalic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/helvetica/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica/HelveticaNeueCyr-LightItalic.woff') format('woff'), url('../fonts/helvetica/HelveticaNeueCyr-LightItalic.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'helvetica-rom';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/helvetica/HelveticaNeueCyr-Roman.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/helvetica/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/helvetica/HelveticaNeueCyr-Roman.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'helvetica-ital';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/helvetica/HelveticaNeueCyr-Italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/helvetica/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica/HelveticaNeueCyr-Italic.woff') format('woff'), url('../fonts/helvetica/HelveticaNeueCyr-Italic.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'bebas';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/bebas/bebas-webfont.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/bebas/bebas-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas/bebas-webfont.woff') format('woff'), url('../fonts/bebas/bebas-webfont.ttf') format('truetype');
  /* Safari, Android, iOS */
}

/* page */
body {
  font-family: 'helvetica-rom';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  color: #e8603c;
  font-size: 0;
  text-transform: uppercase;
  font-family: 'bebas';
  font-weight: 400;
  text-decoration: none;
}
.logo__part1,
.logo__part2 {
  display: inline-block;
  font-size: 36px;
}
.logo__part2 {
  color: #f3af9d;
}

.hero {
  overflow: hidden;
  margin-bottom: 37px;
}
.hero__wrap {
  position: relative;
}
.hero__wrap::before,
.hero__wrap::after {
  content: '';
  position: absolute;
  max-width: 10000px;
  width: 100%;
  height: 62px;
  top: 0;
  background-color: #f2ae9c;
}
.hero__wrap::before {
  right: 100%;
  margin-right: 10px;
}
.hero__wrap::after {
  left: 100%;
  margin-left: 10px;
}

.icon-user {
  fill: #e8603c;
  font-size: 46px;
}

.block__title {
  font-size: 18px;
  font-family: 'bebas';
  font-weight: 400;
  color: #e8603c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;
}
.block__title::after {
  content: '';
  background-image: url(../imgs/page/pattern.png);
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 19px;
}
.block__title--sm {
  font-size: 14px;
  margin-bottom: 15px;
}
.block__title--sm::after {
  margin-left: 15px;
}

.page__wrap {
  overflow: hidden;
}

.page__title {
  background-color: #e8603c;
  padding: 15px;
  margin-bottom: 25px;
  position: relative;
}
.page__title::before,
.page__title::after {
  content: '';
  position: absolute;
  max-width: 10000px;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #f2ae9c;
}
.page__title::before {
  right: 100%;
  margin-right: 10px;
}
.page__title::after {
  left: 100%;
  margin-left: 10px;
}

.page__title-text {
  font-size: 24px;
  font-family: 'bebas';
  font-weight: 400;
  line-height: 1.33;
  color: #fff;
}

.content__wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
          align-items: baseline;
}

.header__logo {
  padding: 22px 0;
}

.header__nav {
  margin-left: auto;
  font-size: 16px;
  font-family: 'bebas';
  font-weight: 400;
  position: relative;
  top: -6px;
}

.header__nav-link {
  color: #b9b9b9;
  margin-right: 28px;
}
.header__nav-link.is-active,
.header__nav-link:hover {
  color: #e8663c;
}

.slides {
  margin-bottom: 15px;
  max-width: 940px;
  width: 100%;
}
.slides img {
  display: block;
  width: 100%;
  height: auto;
}
.slides__btn {
  width: 36px;
  height: 52px;
  position: absolute;
  top: 50%;
  z-index: 1;
  background-image: none;
  color: transparent;
  outline: 0;
}
.slides__btn-next {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slides__btn-icon {
  fill: #fff;
  width: 36px;
  height: 52px;
}

.slide {
  height: 0;
  padding-bottom: 42%;
  position: relative;
}
.slide__content {
  max-width: 416px;
  background-color: rgba(232, 102, 60, 0.8);
  padding: 17px;
  position: absolute;
  bottom: 32px;
  left: 36px;
}
.slide__content-title {
  font-size: 18px;
  font-family: 'bebas';
  font-weight: 400;
  color: #fff;
  margin-bottom: 16px;
}
.slide__content-text {
  color: #fff;
}

.thumbs ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumbs__element {
  display: block;
}
.thumbs__element img {
  display: block;
  max-width: 100%;
  height: auto;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.features__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-bottom: 25px;
}
.features__icon {
  margin-right: 18px;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.features__icon-cog {
  width: 46px;
  height: 46px;
}
.features__icon-check {
  width: 49px;
  height: 41px;
}
.features__icon-user {
  width: 42px;
  height: 40px;
}
.features__title-text {
  font-size: 18px;
  line-height: 1.3;
  color: #e8663c;
  font-family: 'bebas';
  font-weight: 400;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  padding-right: 15px;
}
.features__text {
  color: #414141;
  line-height: 1.5;
  margin-bottom: 15px;
  padding-right: 20px;
}
.features__btn {
  height: 31px;
  color: #fff;
  font-family: 'bebas';
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  background-color: #e8663c;
  padding: 10px 15px;
  text-transform: uppercase;
}

.works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}
.works__item {
  display: block;
  cursor: pointer;
}
.works__info {
  border: 1px solid #dbdbdb;
  border-top: none;
  padding: 10px 13px;
}
.works__img {
  display: block;
  max-width: 100%;
}
.works__title {
  color: #b9b9b9;
  font-family: 'bebas';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
}
.works__date {
  color: #e8663c;
  font-family: 'bebas';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.footer {
  overflow: hidden;
}
.footer__wrap {
  background-color: #e8663c;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer__wrap::before,
.footer__wrap::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #f2ae9c;
}
.footer__wrap::before {
  right: 100%;
  margin-right: 10px;
}
.footer__wrap::after {
  left: 100%;
  margin-left: 10px;
}
.footer__col {
  max-width: 33.333%;
  width: 100%;
  margin-right: 60px;
}
.footer__col:last-child {
  margin-right: 0;
}
.footer__title {
  font-size: 20px;
  color: #fff;
  font-family: 'bebas';
  font-weight: 400;
  margin-bottom: 22px;
}
.footer__text {
  color: #fff;
  margin-bottom: 10px;
  padding-right: 10px;
}
.footer__col-fsh {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
          flex-shrink: 0;
}
.footer__tweet-content {
  color: #fff;
  margin-bottom: 0.4em;
  padding-right: 15px;
}
.footer__tweet-content a {
  display: inline-block;
  color: #f3b29d;
}
.footer__tweet-time {
  display: inline-block;
  color: #f3b29d;
  margin-bottom: 1.4em;
}
.footer__mail,
.footer__num {
  color: #fff;
  display: block;
}

.about {
  margin: 0 0 40px 0;
  width: 77%;
}
.about__text {
  color: #414141;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-right: 20px;
}
.about__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__img {
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0 20px 27px 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
          align-self: center;
}
.about__img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.about__text-element {
  font-size: 36px;
  color: #e8603c;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  float: left;
  margin-right: 5px;
}
.about__quote {
  color: #414141;
  font-family: 'helvetica-light-ital';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  margin: 30px 0 25px 50px;
  padding-left: 15px;
  border-left: 8px solid #e8663c;
}
.about__alert-item {
  width: 100%;
  font-size: 14px;
  font-family: 'helvetica-ital';
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  padding: 25px 0 20px;
  margin-bottom: 20px;
}
.about__alert-item--green {
  color: #98c601;
  border: 1px solid #98c601;
  background-color: #effeb9;
}
.about__alert-item--red {
  color: #eb5439;
  border: 1px solid #eb5439;
  background-color: #fbcbc1;
}
.about__alert-item--orange {
  color: #fab418;
  border: 1px solid #fab418;
  background-color: #ffe9ad;
}
.about__alert-item--blue {
  color: #4d8fcb;
  border: 1px solid #4d8fcb;
  background-color: #d1e4f3;
}

.sidebar {
  width: 23%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 50px;
}
.sidebar__text {
  color: #464646;
}
.sidebar__item {
  margin-bottom: 33px;
}
.sidebar__link {
  display: block;
  color: #464646;
}
.sidebar__gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.sidebar__gallery-photo {
  margin-bottom: 5px;
}
.sidebar__gallery-photo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.blog {
  max-width: 670px;
  width: 100%;
  margin-bottom: 40px;
}
.blog__item {
  margin-bottom: 40px;
  position: relative;
}
.blog__icon {
  width: 75px;
  height: 75px;
  background-color: #e8603c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: -85px;
  z-index: 100;
}
.blog__icon img {
  display: block;
  max-width: 100%;
  height: auto;
}
.blog__slides {
  max-width: 670px;
  width: 100%;
  margin-bottom: 15px;
}
.blog__slides img {
  display: block;
  width: 100%;
  height: auto;
}
.blog__slides-btn {
  width: 36px;
  height: 52px;
  position: absolute;
  top: 50%;
  z-index: 1;
  background-image: none;
  color: transparent;
  outline: 0;
}
.blog__slides-btn-next {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.blog__btn-icon {
  fill: #fff;
  width: 36px;
  height: 52px;
}
.blog__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.blog__content {
  display: block;
}
.blog__content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__info {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 50px;
}
.blog__info-item {
  margin-bottom: 10px;
}
.blog__info-title {
  font-size: 12px;
  text-transform: uppercase;
  color: #e8603c;
  font-family: 'bebas';
  font-weight: 400;
  line-height: 1.6;
}
.blog__info-text {
  color: #bababa;
  font-size: 12px;
}
.blog__element-title {
  font-size: 18px;
  line-height: 1;
  color: #e8603c;
  text-transform: uppercase;
  font-family: 'bebas';
  font-weight: 400;
  margin-bottom: 15px;
}
.blog__element-title--sm {
  margin-bottom: 5px;
}
.blog__element-text {
  color: #414141;
  line-height: 1.5;
  margin-bottom: 18px;
  padding-right: 10px;
}
.blog__element-text:last-child {
  margin-bottom: 0;
}
.blog__pattern {
  text-align: center;
  width: 100%;
  height: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  font-size: 0;
  margin-bottom: 55px;
}
.blog__pattern::after {
  content: '';
  background-image: url(../imgs/page/pattern.png);
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.blog__quotes {
  background-color: #f5f5f5;
  padding: 20px 25px 15px 70px;
  position: relative;
}
.blog__quotes-icon {
  position: absolute;
  top: 20px;
  left: 34px;
  z-index: 100;
}
.blog__quotes-text {
  font-size: 13px;
  color: #474747;
  font-family: 'helvetica-ital';
  font-weight: 400;
}
.blog__link {
  display: block;
  color: #a0a0a0;
  margin-bottom: 15px;
}
.blog__page-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.blog__page-link {
  display: block;
  color: #fff;
  font-family: 'bebas';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  background-color: #f3b29d;
  padding: 6px 10px;
  margin-right: 4px;
}
.blog__page-link.is-active {
  background-color: #e8663c;
}

.portfolio {
  margin-bottom: 5px;
}
.portfolio__nav {
  margin-bottom: 30px;
}
.portfolio__button {
  height: 31px;
  font-size: 14px;
  color: #b9b9b9;
  font-family: 'bebas';
  font-weight: 400;
  line-height: 2;
  background-color: transparent;
  padding: 0 15px;
  border: 0;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s linear;
       -o-transition: background-color 0.2s linear;
          transition: background-color 0.2s linear;
  -webkit-transition: color 0.2s linear;
       -o-transition: color 0.2s linear;
          transition: color 0.2s linear;
  outline-color: #e8663c;
}
.portfolio__button.is-active,
.portfolio__button:hover {
  background-color: #e8663c;
  color: #fff;
}
.portfolio__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.portfolio__item {
  margin-bottom: 35px;
}
.portfolio__img {
  max-width: 220px;
  width: 100%;
  position: relative;
  -webkit-transition: opacity 0.2s linear;
       -o-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear;
}
.portfolio__img:hover {
  opacity: 0.8;
}
.portfolio__img:hover .portfolio__icon {
  opacity: 1;
}
.portfolio__wrap-img {
  max-width: 220px;
  width: 100%;
  background-color: #000;
}
.portfolio__icon {
  width: 37px;
  height: 37px;
  fill: rgba(254, 254, 254, 0.7);
  position: absolute;
  top: 50%;
  margin-top: -18.5px;
  left: 50%;
  margin-left: -18.5px;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
       -o-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear;
}

.contacts {
  width: 100%;
  margin-bottom: 75px;
}
.contacts__map iframe {
  max-width: 675px;
  width: 100%;
  margin-bottom: 30px;
  border: 0;
}
.contacts__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__info {
  max-width: 177px;
  width: 100%;
}
.contacts__text {
  line-height: 1.1;
  color: #414141;
  margin-bottom: 15px;
}
.contacts__address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}
.contacts__elements a {
  display: block;
  color: #414141;
}
.contacts__elements a span {
  font-weight: bold;
}
.contacts__form {
  max-width: 462px;
  width: 100%;
}
.contacts__input {
  display: block;
  color: #e8603c;
  font-family: 'bebas';
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #e8663c;
  line-height: 2.3;
  padding: 5px 13px;
  outline: 0;
  margin-bottom: 10px;
}
.contacts__input:focus::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.contacts__input:focus:-ms-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.contacts__input:focus::-ms-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.contacts__input:focus::placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.contacts__input:focus {
  outline: 0;
}
.contacts__wrap-texterea {
  max-width: 462px;
  width: 100%;
}
.contacts__textarea {
  width: 100%;
  height: 204px;
  color: #e8603c;
  font-family: 'bebas';
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #e8663c;
  resize: none;
  line-height: 1.4;
  padding: 11px 13px;
  margin-bottom: 5px;
}
.contacts__textarea:focus::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.contacts__textarea:focus:-ms-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.contacts__textarea:focus::-ms-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.contacts__textarea:focus::placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.contacts__textarea:focus {
  outline: 0;
}
.contacts__btn {
  height: 31px;
  color: #fff;
  font-family: 'bebas';
  font-weight: 400;
  line-height: 2;
  background-color: #e8663c;
  padding: 0 15px;
  border: 0;
  text-transform: uppercase;
}
@media (max-width: 1112px) {
  .blog__icon {
    display: none;
  }
}
@media (max-width: 960px) {
  .content__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .about {
    max-width: 960px;
    width: 100%;
  }
  .sidebar {
    width: 100%;
    margin-left: 0;
  }
  .blog {
    max-width: 960px;
  }
  .blog__img {
    margin: 0 auto 15px;
  }
  .contacts__map iframe {
    max-width: 960px;
  }
  .contacts__info {
    max-width: 270px;
  }
  .contacts__form {
    max-width: 580px;
  }
}
@media (max-width: 900px) {
  .slide__content {
    left: 90px;
  }
  .thumbs ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .thumbs li {
    margin: 10px auto 0;
  }
  .features {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .features__item {
    margin-bottom: 50px;
    text-align: center;
  }
  .features__title {
    display: block;
    text-align: center;
  }
  .features__icon {
    margin-right: 0;
  }
  .works {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .works__item {
    margin: 10px auto 0;
  }
}
@media (max-width: 800px) {
  .about__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .about__img {
    margin: 0 auto 27px;
  }
}
@media (max-width: 670px) {
  .contacts__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .contacts__info {
    margin-bottom: 15px;
    text-align: center;
    margin: 0 auto 20px;
  }
  .contacts__form {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .header__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: center;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__nav {
    width: 100%;
  }
  .slide__content {
    display: none;
  }
  .footer__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer__col {
    max-width: 100%;
    text-align: center;
    margin: 0 0 50px 0;
  }
  .footer__col:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 470px) {
  .header__wrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    text-align: right;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    width: 50%;
  }
  .header__nav {
    width: 100%;
    padding-top: 20px;
  }
  .header__nav-link {
    display: block;
    margin-bottom: 8px;
  }
}
@media (max-width: 450px) {
  .sidebar__gallery-photo {
    width: 25%;
  }
}
