/* consts */
/* colors */
/* fonts */
/* merriweather-300 - latin */
@font-face {
  font-family: 'MerriweatherLight';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/merriweather/merriweather-v20-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Merriweather Light'), local('Merriweather-Light'), url('../fonts/merriweather/merriweather-v20-latin-300.eot?#iefix') format('embedded-opentype'), url('../fonts/merriweather/merriweather-v20-latin-300.woff2') format('woff2'), url('../fonts/merriweather/merriweather-v20-latin-300.woff') format('woff'), url('../fonts/merriweather/merriweather-v20-latin-300.ttf') format('truetype'), url('../fonts/merriweather/merriweather-v20-latin-300.svg#Merriweather') format('svg');
  /* Legacy iOS */
}

/* merriweather-300italic - latin */
@font-face {
  font-family: 'MerriweatherLightItalic';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/merriweather/merriweather-v20-latin-300italic.eot');
  /* IE9 Compat Modes */
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url('../fonts/merriweather/merriweather-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), url('../fonts/merriweather/merriweather-v20-latin-300italic.woff2') format('woff2'), url('../fonts/merriweather/merriweather-v20-latin-300italic.woff') format('woff'), url('../fonts/merriweather/merriweather-v20-latin-300italic.ttf') format('truetype'), url('../fonts/merriweather/merriweather-v20-latin-300italic.svg#Merriweather') format('svg');
  /* Legacy iOS */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'MerriweatherRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather/merriweather-v20-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../fonts/merriweather/merriweather-v20-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/merriweather/merriweather-v20-latin-regular.woff2') format('woff2'), url('../fonts/merriweather/merriweather-v20-latin-regular.woff') format('woff'), url('../fonts/merriweather/merriweather-v20-latin-regular.ttf') format('truetype'), url('../fonts/merriweather/merriweather-v20-latin-regular.svg#Merriweather') format('svg');
  /* Legacy iOS */
}

/* merriweather-italic - latin */
@font-face {
  font-family: 'MerriweatherItalic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/merriweather/merriweather-v20-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../fonts/merriweather/merriweather-v20-latin-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/merriweather/merriweather-v20-latin-italic.woff2') format('woff2'), url('../fonts/merriweather/merriweather-v20-latin-italic.woff') format('woff'), url('../fonts/merriweather/merriweather-v20-latin-italic.ttf') format('truetype'), url('../fonts/merriweather/merriweather-v20-latin-italic.svg#Merriweather') format('svg');
  /* Legacy iOS */
}

/* merriweather-700 - latin */
@font-face {
  font-family: 'MerriweatherBold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/merriweather/merriweather-v20-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../fonts/merriweather/merriweather-v20-latin-700.eot?#iefix') format('embedded-opentype'), url('../fonts/merriweather/merriweather-v20-latin-700.woff2') format('woff2'), url('../fonts/merriweather/merriweather-v20-latin-700.woff') format('woff'), url('../fonts/merriweather/merriweather-v20-latin-700.ttf') format('truetype'), url('../fonts/merriweather/merriweather-v20-latin-700.svg#Merriweather') format('svg');
  /* Legacy iOS */
}

/* @import "toggle/toggle.scss"; */
html {
  font-size: 10px;
}

.title {
  text-align: center;
  margin-bottom: 9rem;
  position: relative;
}
.title__text {
  font-size: 4rem;
  font-family: 'MerriweatherLight', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
}
.title::before {
  content: '';
  width: 252px;
  height: 33px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  background-image: url(../imgs/header/decoration.png);
  -webkit-background-size: cover;
          background-size: cover;
  margin-left: -126px;
}

.header {
  height: 100vh;
  min-height: 600px;
  background: url(../imgs/header/header-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
}
.header__toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 21;
  width: 35px;
  height: 35px;
  background-color: #eeefef;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
}
.header__toggle span {
  position: absolute;
  width: 23px;
  height: 3px;
  display: block;
  background-color: #3c3c3c;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.header__toggle span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  display: block;
  top: -8px;
  left: 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition-property: top;
       -o-transition-property: top;
          transition-property: top;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header__toggle span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3c3c3c;
  display: block;
  top: 8px;
  left: 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition-property: top;
       -o-transition-property: top;
          transition-property: top;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header__toggle.active span {
  background-color: transparent;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0);
}
.header__toggle.active span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.header__toggle.active span:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.header__toggle-nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 20;
  display: block;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  right: -100vw;
}
.header__toggle-nav.active {
  right: 0;
  -webkit-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}
.header__toggle-list-item {
  padding: 1.5rem 0;
}
.header__toggle-list-link {
  font-size: 2rem;
  color: #3c3c3c;
}
.header__nav {
  text-align: right;
  padding-top: 5.2rem;
  margin-bottom: 30rem;
}
.header__list-item {
  display: inline-block;
  border: 1px solid transparent;
  padding: 1.4rem 2.2rem;
  -webkit-transition: border-color 0.2s linear;
       -o-transition: border-color 0.2s linear;
          transition: border-color 0.2s linear;
}
.header__list-item:hover {
  border-color: #3c3c3c;
}
.header__list-link {
  font-size: 1.8rem;
  font-family: 'MerriweatherRegular', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
}

.columns {
  background: url(../imgs/columns/columns-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 5rem 0 7rem;
}
.columns__item {
  text-align: center;
}
.columns__img {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
}
.columns__caption {
  font-size: 1.8rem;
  font-family: 'MerriweatherBold', sans-serif;
  font-weight: 700;
  color: #3c3c3c;
  text-transform: uppercase;
  margin: 3rem 0 2rem;
}
.columns__desc {
  font-size: 1.6rem;
  font-family: 'MerriweatherLight', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
}

.specials {
  padding: 8rem 0 10rem;
}
.specials__title {
  text-align: center;
  margin-bottom: 9rem;
  position: relative;
}
.specials__title h2 {
  font-size: 4rem;
  font-family: 'MerriweatherLight', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
}
.specials__title::before {
  content: '';
  width: 252px;
  height: 33px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  background-image: url(../imgs/header/decoration.png);
  -webkit-background-size: cover;
          background-size: cover;
  margin-left: -126px;
}
.specials__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  width: 100%;
}
.specials__img {
  width: 50%;
}
.specials__img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.specials__info {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #ebebeb;
}
.specials__name {
  font-size: 1.8rem;
  font-family: 'MerriweatherBold', sans-serif;
  font-weight: 700;
  color: #3c3c3c;
  margin-bottom: 2rem;
}
.specials__desc {
  font-size: 1.6rem;
  font-family: 'MerriweatherLight', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
  margin-bottom: 1rem;
}
.specials__price {
  font-size: 1.8rem;
  font-family: 'MerriweatherBold', sans-serif;
  font-weight: 700;
  color: #3c3c3c;
}

.about {
  background-color: #eeefef;
  padding: 24rem 0 16rem;
}
.about__text {
  font-size: 3rem;
  font-family: 'MerriweatherLight', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
  text-align: center;
  margin-bottom: 5rem;
}
.about__sign {
  text-align: right;
}
.about__img {
  margin-top: -70px;
}
.about__img img {
  display: block;
  width: 100%;
  height: auto;
}

/* TAB */
.menu {
  padding: 6rem 0 7rem;
}
.menu__nav {
  overflow: hidden;
  text-align: center;
  margin-bottom: 6rem;
}
.menu__button {
  font-size: 1.8rem;
  font-family: 'MerriweatherRegular', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
  padding: 1.4rem 2.2rem;
  -webkit-transition: border-color 0.2s linear;
       -o-transition: border-color 0.2s linear;
          transition: border-color 0.2s linear;
}
.menu__button:hover {
  border-color: #3c3c3c;
}
.menu__button.active {
  border-color: #3c3c3c;
}
.menu__content {
  display: none;
  padding: 6px 12px;
  opacity: 1;
}
.menu__list-item {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.menu__list-item:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 1px dotted #666;
}
.menu__name {
  font-size: 1.8rem;
  font-family: 'MerriweatherLight', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #fff;
  padding-right: 5px;
}
.menu__comp {
  font-size: 1.4rem;
  font-family: 'MerriweatherLightItalic', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
  text-transform: none;
}
.menu__price {
  font-size: 1.8rem;
  font-family: 'MerriweatherLight', sans-serif;
  font-weight: 300;
  color: #3c3c3c;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #fff;
  padding-left: 5px;
}

.footer {
  background: url(../imgs/footer/footer-bg.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 6rem 0 3rem;
}
.footer__contacts {
  text-align: left;
}
.footer__contacts-title {
  font-size: 1.8rem;
  font-family: 'MerriweatherRegular', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footer__contacts-text {
  font-size: 1.6rem;
  font-family: 'MerriweatherRegular', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
}
.footer__form {
  width: 100%;
  margin-top: 8rem;
  text-align: center;
}
.footer__form-title {
  font-size: 1.8rem;
  font-family: 'MerriweatherRegular', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: left;
}
.footer__input {
  width: 47%;
  font-size: 1.8rem;
  font-family: 'MerriweatherItalic', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #3c3c3c;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 6rem;
  text-align: left;
}
.footer__input:focus::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.footer__input:focus:-ms-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.footer__input:focus::-ms-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.footer__input:focus::placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.footer__input:focus {
  outline: 0;
}
.footer__input-mail {
  margin-left: 4%;
}
.footer__msg {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  font-size: 1.8rem;
  font-family: 'MerriweatherItalic', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #3c3c3c;
  resize: none;
  text-align: left;
}
.footer__msg:focus::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.footer__msg:focus:-ms-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.footer__msg:focus::-ms-input-placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.footer__msg:focus::placeholder {
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  color: transparent;
}
.footer__msg:focus {
  outline: 0;
}
.footer__btn {
  font-size: 1.8rem;
  font-family: 'MerriweatherRegular', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  background-color: transparent;
  border: 1px solid #3c3c3c;
  outline: none;
  -webkit-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  cursor: pointer;
  padding: 1.4rem 2.2rem;
  margin: 4rem 0 16rem;
}
.footer__btn:hover {
  background-color: #3c3c3c;
  color: #fff;
  -webkit-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}
.footer__bottom {
  text-align: center;
  font-size: 1.8rem;
  font-family: 'MerriweatherRegular', sans-serif;
  font-weight: 400;
  color: #3c3c3c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
}
.footer__bottom-text {
  display: inline-block;
}
.footer__bottom-nav {
  margin-left: auto;
}
.footer__bottom-item {
  display: inline-block;
  margin-right: 0.8rem;
}
.footer__bottom-item:last-child {
  margin-right: 0;
}
.footer__bottom-link {
  border: 1px solid #3c3c3c;
  font-size: 1.8rem;
  display: inline-block;
}
.footer__bottom-link img {
  display: block;
  width: 100%;
  height: auto;
}
.footer__bottom-link:hover {
  background-color: #3c3c3c;
  -webkit-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}
.footer__bottom-link:hover img {
  -webkit-filter: brightness(5000%);
          filter: brightness(5000%);
}
.footer__bottom-facebook {
  padding: 1.15rem 1.5rem;
}
.footer__bottom-instagram {
  padding: 1rem 1rem;
}
@media (min-width: 426px) {
  .header__toggle {
    display: none;
  }
}
@media (max-width: 1030px) {
  .footer__contacts:first-child {
    margin-bottom: 3rem;
  }
  .footer__contacts-text {
    font-size: 1.4rem;
  }
}
@media (max-width: 990px) {
  html {
    font-size: 8px;
  }
  .specials__name {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }
  .specials__desc {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }
  .specials__price {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .header {
    background-position: right;
  }
}
@media (max-width: 767px) {
  .columns__item {
    margin-bottom: 3rem;
  }
  .columns__caption {
    margin: 2rem 0 1rem;
  }
  .specials__img {
    width: 47%;
  }
  .specials__name {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .specials__desc {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .specials__price {
    font-size: 1.8rem;
  }
  .about__img {
    margin-top: 0;
  }
  .footer {
    background-position: right;
  }
  .footer__contacts {
    text-align: center;
  }
  .footer__input {
    width: 100%;
  }
  .footer__input-mail {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 425px) {
  .header__list {
    display: none;
  }
}
